* {
  margin: 0;
  padding: 0;
}
.homepage {
  margin-top: 100px;
}
#links {
  color: #111;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
#btn {
  border-radius: 6px;
  background: #198fff;
  width: 125px;
  height: 45px;
  padding: 10px;
  outline: none;
  border: none;
  color: white;
  font-weight: 600;
}
.logo {
  margin-right: 19px;
}

/* .text_box {
  margin-top: 20vh;
} */

.text_box {
  margin-top: 20vh !important;
}

/* Media query for small screens */
@media only screen and (max-width: 600px) {
  .text_box {
    margin-top: 0 !important;
  }

  .dreamers {
    color: #198fff !important;
    text-align: center !important;
    font-size: 66.8px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    margin: 10px 0px !important;
    text-transform: uppercase !important;
  }
}
.dreamers {
  color: #198fff !important;
  text-align: center !important;
  font-size: 66.8px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  margin: 10px 0px !important;
  text-transform: uppercase !important;
}

.getStartedBtn {
  width: 125px !important;
  height: 45px !important;
  padding: 10px !important;
  color: white !important;
  font-weight: 500 !important;
  border-radius: 6px !important;
  background: #198fff !important;
}
.community1 {
  color: #313131 !important;
  font-size: 32px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
}
.joinNow {
  color: #198fff !important;
  font-size: 42px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
  margin-top: 10px !important;
}
.makeThings {
  color: #313131 !important;
  font-family: Barlow !important;
  margin-top: 50px !important;
  font-size: 48px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
  text-transform: uppercase !important;
}
.getStartedBtn {
  width: 150px !important;
  height: 45px !important;
  color: white !important;
  font-weight: 800 !important;
  outline: none !important;
  border: none !important;
  border-radius: 6px !important;
  background: #198fff;
  cursor: pointer;
}

.grid {
  display: flex !important;
  align-items: center !important;
  padding: 0px 10% !important;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .grid {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .newRich {
    margin-top: 20px !important;
    margin-left: 10px;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .grid {
    display: none;
    flex-direction: column-reverse;
  }
  .newRich {
    visibility: hidden;
  }
}
@media only screen and (min-width: 768px) {
  .grid {
    flex-direction: row;
    justify-content: center;
  }
  .newRich {
    padding: 0px 0px;
  }
}
.newRich {
  color: #198fff;
  font-family: Barlow;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.552px;
  margin-top: 8px;
}

.menuIcon {
  color: gray;
}
.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
  position: relative;
}

.nav-logo {
  color: #f5b921;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-items: center;
}

.nav-logo .icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-left: 16px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #111;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  line-height: 26px;
}

.nav-item {
  line-height: 40px;
  color: black !important;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-icon {
  display: none;
  color: #f5b921;
}
*/ .nav-icon .icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

@media (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: white;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #111;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
  }

  .nav-logo .icon {
    width: 2rem;
    height: 2rem;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: #ffdd40;
  }
}
#loginBtn {
  color: white !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  padding: 10px 35px;
  line-height: 24px;
  cursor: pointer;
  border-radius: 6px;
  background: #198fff;
}
